@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@100&display=swap');

body{
  background-color: #011108;
  color: white;
  
  
}

div{
  justify-content: center;
  align-items: center;
  display: flex;
}

p{
  justify-content: center;
  align-items: center;
  display: flex;
}

#mainT{
    font-size: 75px;
    font-family: "roboto mono",monospace;
    
    background-image: linear-gradient(#7272AB, #1a0a14);
    background:  linear-gradient( #0808ff, #d60084);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
  font-family: "roboto mono",monospace;
  font-style: italic;
  font-size: large;
  background-color: black;
  color: white;
  border-color: green;
}

#image{
  width: 750px;
  height: 150px;
}
